USE [master]
GO
/****** Object:  Database [FleetManagement]    Script Date: 21/10/2023 15:50:13 ******/
CREATE DATABASE [FleetManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FleetManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FleetManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FleetManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FleetManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FleetManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FleetManagement]
GO
/****** Object:  Table [dbo].[Bestuurders]    Script Date: 21/10/2023 15:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bestuurders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[naam] [varchar](30) NOT NULL,
	[voornaam] [varchar](30) NOT NULL,
	[adres] [varchar](100) NOT NULL,
	[rijksregisternummer] [varchar](30) NOT NULL,
	[typerijbewijsId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BrantstofType]    Script Date: 21/10/2023 15:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BrantstofType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fleet]    Script Date: 21/10/2023 15:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fleet](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bestuurderId] [int] NOT NULL,
	[tankkaartId] [int] NOT NULL,
	[voertuigId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 21/10/2023 15:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[wachtwoord] [varchar](20) NOT NULL,
	[rol] [varchar](5) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tankkaarten]    Script Date: 21/10/2023 15:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tankkaarten](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kaartnummer] [int] NOT NULL,
	[geldigheidsdatum] [datetime] NOT NULL,
	[pincode] [int] NOT NULL,
	[brandstoffen] [varchar](30) NOT NULL,
	[actief] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeRijbewijs]    Script Date: 21/10/2023 15:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeRijbewijs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeWagen]    Script Date: 21/10/2023 15:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeWagen](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voertuig]    Script Date: 21/10/2023 15:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voertuig](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[merkEnModel] [varchar](30) NOT NULL,
	[chassisnummer] [varchar](30) NOT NULL,
	[nummerplaat] [varchar](30) NOT NULL,
	[brandstoftypeId] [int] NOT NULL,
	[typewagenId] [int] NOT NULL,
	[kleur] [varchar](30) NOT NULL,
	[aantal_deuren] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Login] ADD  DEFAULT ('fleet') FOR [wachtwoord]
GO
ALTER TABLE [dbo].[Login] ADD  DEFAULT ('user') FOR [rol]
GO
ALTER TABLE [dbo].[Tankkaarten] ADD  DEFAULT ((1)) FOR [actief]
GO
ALTER TABLE [dbo].[Bestuurders]  WITH CHECK ADD  CONSTRAINT [Bestuurders_fk0] FOREIGN KEY([typerijbewijsId])
REFERENCES [dbo].[TypeRijbewijs] ([id])
GO
ALTER TABLE [dbo].[Bestuurders] CHECK CONSTRAINT [Bestuurders_fk0]
GO
ALTER TABLE [dbo].[Fleet]  WITH CHECK ADD  CONSTRAINT [Fleet_fk0] FOREIGN KEY([bestuurderId])
REFERENCES [dbo].[Bestuurders] ([id])
GO
ALTER TABLE [dbo].[Fleet] CHECK CONSTRAINT [Fleet_fk0]
GO
ALTER TABLE [dbo].[Fleet]  WITH CHECK ADD  CONSTRAINT [Fleet_fk1] FOREIGN KEY([tankkaartId])
REFERENCES [dbo].[Tankkaarten] ([id])
GO
ALTER TABLE [dbo].[Fleet] CHECK CONSTRAINT [Fleet_fk1]
GO
ALTER TABLE [dbo].[Fleet]  WITH CHECK ADD  CONSTRAINT [Fleet_fk2] FOREIGN KEY([voertuigId])
REFERENCES [dbo].[Voertuig] ([id])
GO
ALTER TABLE [dbo].[Fleet] CHECK CONSTRAINT [Fleet_fk2]
GO
ALTER TABLE [dbo].[Voertuig]  WITH CHECK ADD  CONSTRAINT [Voertuig_fk0] FOREIGN KEY([brandstoftypeId])
REFERENCES [dbo].[BrantstofType] ([id])
GO
ALTER TABLE [dbo].[Voertuig] CHECK CONSTRAINT [Voertuig_fk0]
GO
ALTER TABLE [dbo].[Voertuig]  WITH CHECK ADD  CONSTRAINT [Voertuig_fk1] FOREIGN KEY([typewagenId])
REFERENCES [dbo].[TypeWagen] ([id])
GO
ALTER TABLE [dbo].[Voertuig] CHECK CONSTRAINT [Voertuig_fk1]
GO
USE [master]
GO
